html, body {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
}
canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
